.container {
  background-color: black;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

i:hover {
  cursor: pointer;
}

/*  Nav styling */

nav {
  height: 80px;
  /* box-shadow: 2px 2px 0px 0px rgba(168, 168, 168, 1); */
  box-shadow: 1px 1px 0px white;
}

.top-bar {
  height: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 0 10px;
}

.top-bar div {
  display: flex;
  justify-content: space-between;
}

.top-bar div .first-link {
  margin: 5px;
  color: white;
}

.top-bar a {
  font-size: 13px;
  margin: 5px;
  color: gray;
  text-decoration: none;
}

.top-bar a:hover {
  color: white;
}

/* Main navbar */

.main-navbar {
  background-color: white;
  height: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 10px;
}

.main-navbar .main-logo {
  visibility: hidden;
}
.main-navbar a {
  align-items: center;
  color: gray;
  text-decoration: none;
  margin: 5px;
  font-size: 14px;
}

.main-navbar a:hover {
  color: black;
}

.main-navbar .search-icon {
  width: 3%;
  height: 100%;
  border-left: 1px solid #979797;
  display: flex;
  justify-content: center;
}

.main-navbar i {
  align-self: center;
  font-size: 20px;
  color: gray;
  padding-left: 5px;
}

.main-navbar i:hover {
  color: #7f7f7f;
}
/*  Start of first section */

.Header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 200px 200px;
  gap: 10px;
  padding: 10px;
  background-color: #ededed;
}

.Big {
  grid-row: 1 / span 2;
}

.Header--img {
  background-color: red;
  padding: 20px;
}

.Header--img:hover {
  cursor: pointer;
}

.Newscards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  gap: 10px;
}

.Newscards--img {
  background-color: yellow;
}

.Stockmarket {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 10px;
  position: relative;
}

.Articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 10px;
}

.Articles--info {
  background-color: purple;
}

.Lnews {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  grid-template-rows: auto auto;
  gap: 10px;
}

/* Start on the first box */

/* Big modifier */
.Big {
  background: linear-gradient(
      185deg,
      rgba(241, 6, 30, 0.7371323529411764) 0%,
      rgba(17, 16, 16, 1) 82%
    ),
    url("../images/cover-gradient.png") center no-repeat,
    url("../images/header-img-big-2.png") center;
  opacity: 0.75;
  background-size: cover;
  background-repeat: no-repeat;
}

.Big h1 {
  font-size: 150px;
  color: white;
}

.Big span {
  font-size: 15px;
  float: right;
  color: white;
}

.Big h2 {
  font-size: 20px;
  color: white;
  margin-top: 50px;
}

.Big p:first-of-type {
  font-size: 50px;
  color: white;
  font-weight: bold;
}

.Big p {
  color: #ffffff99;
  font-size: 13px;
}

.Big p a {
  color: #ffffff99;
  text-decoration: none;
}

.Big p i {
  margin: 10px 5px;
  font-size: 15px;
}

.Big p a:hover {
  color: white;
}

/* Small modifier */

.Small {
  position: relative;
}

.--first-img h1 {
  font-size: 30px;
  color: white;
  font-weight: bold;
  position: absolute;
  bottom: 5px;
}

.Small article {
  position: absolute;
  bottom: 5px;
}

.Small article h1 {
  font-size: 15px;
  color: white;
  font-weight: bold;
}

.Small article h2 {
  font-size: 25px;
  color: white;
  font-weight: bold;
}

.Small article p {
  font-size: 13px;
  margin-top: 5px;
  color: gray;
}

.Small article a {
  text-decoration: none;
  color: gray;
}

.Small article a:hover {
  color: white;
}

.Small article i {
  margin: 10px 5px 5px;
}

.--first-img {
  background: url("../images/small-first-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: start;
}

.--second-img {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(17, 16, 16, 1) 100%
    ),
    url("../images/image-small-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Start on latest News section */

.Newscards--img img {
  object-fit: contain;
}

.title2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title2 ul li {
  display: inline-block;
}
.title2 ul li:nth-of-type(-n + 2) {
  border-right: 1px solid red;
  margin-right: 20px;
  padding-right: 20px;
}

.Stockmarket--info img {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 10px;
  margin-left: 10px;
}

.Stockmarket--info h2,
.Stockmarket--info h3,
.Stockmarket--info h4 {
  text-align: center;
  padding: 10px;
}

.Stockmarket--info h2 {
  background-color: #ff4422;
}

.Stockmarket--info h3,
.Stockmarket--info h4 {
  background-color: #ffebe8;
}
.Stockmarket--info p {
  background-color: #fffaf8;
}

/* Start on Articles section */

.Articles--info {
  display: flex;
  flex-direction: column;
  padding: 10px;
  /* justify-content: space-between; */
}

.Arcticle-cards-img {
  display: flex;
  flex-direction: column;
  height: 50%;
  margin: 5px 5px 5px 0;
}

.Arcticle-cards-img article {
  height: 100%;
  background-image: url("../images/small-first-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.Arcticle-cards-img article h2 {
  font-size: 20px;
  color: white;
  margin-top: 80px;
}

.Arcticle-cards-img article p:first-of-type {
  font-size: 20px;
  color: ye;
}

.Arcticle-cards-img article p {
  color: white;
}

.article-card-latest {
  margin: 5px;
  display: flex;
  align-items: center;
}

.article-card-latest img {
  width: 100px;
  height: 100px;
}

.article-card-list {
  width: 90%;
}

.article-card-list ul li {
  border-bottom: 1px solid gray;
}

/* Start of latest deals section */

.last-deals-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.last-deals-header a {
  color: #f42;
  text-decoration: none;
}

.last-deals-header a:hover {
  color: black;
}

.last-deals-header a:first-of-type {
  font-size: 25px;
  font-weight: bold;
}

.Lnews--info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px;
}

.Lnews--info img {
  height: 270px;
}

.Lnews--info a {
  font-size: 16px;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.Lnews--info a:hover {
  text-decoration: underline;
  color: #f42;
}

.Lnews--info p {
  color: gray;
}

.Lnews--info p small {
  text-decoration: line-through;
}

/* Footer */

footer {
  margin-top: 10px;
  background-color: yellow;
  height: 200px;
}

/* First div - footer */
.social-icons-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #131313;
  height: 80%;
}

.social-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.social-icons ul li {
  display: inline-block;
  background-color: #333333;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 5px;
}

.social-icons ul li a i {
  color: white;
  font-size: 20px;
  position: relative;
  top: 10px;
  left: 10px;
}

.social-icons ul li:hover {
  cursor: pointer;
  border: 2px #333333 solid;
  background-color: #000000;
}

.footer-links {
  margin: 15px 5px;
}

.footer-links ul li {
  display: inline-block;
  margin: 5px;
}

.footer-links ul li a {
  color: #333333;
  text-decoration: none;
  font-size: 12px;
}

.footer-links ul li a:hover {
  color: white;
}

.last-footer {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
  padding: 10px;
}

.last-footer p {
  color: gray;
  font-size: 13px;
}

.last-footer p a {
  text-decoration: none;
  color: white;
}
