.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: red;
}

body > * {
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

i:hover {
  cursor: pointer;
}

/*  Nav styling */

nav {
  height: 80px;
  /* box-shadow: 2px 2px 0px 0px rgba(168, 168, 168, 1); */
  box-shadow: 1px 1px 0px white;
}

.top-bar {
  height: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 0 10px;
}

.top-bar div {
  display: flex;
  justify-content: space-between;
}

.top-bar div .first-link {
  margin: 5px;
  color: white;
}

.top-bar a {
  font-size: 13px;
  margin: 5px;
  color: gray;
  text-decoration: none;
}

.top-bar a:hover {
  color: white;
}

/* Main navbar */

.main-navbar {
  background-color: white;
  height: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 10px;
}

.main-navbar .main-logo {
  visibility: hidden;
}
.main-navbar a {
  align-items: center;
  color: gray;
  text-decoration: none;
  margin: 5px;
  font-size: 14px;
}

.main-navbar a:hover {
  color: black;
}

.main-navbar .search-icon {
  width: 3%;
  height: 100%;
  border-left: 1px solid #979797;
  display: flex;
  justify-content: center;
}

.main-navbar i {
  align-self: center;
  font-size: 20px;
  color: gray;
  padding-left: 5px;
}

.main-navbar i:hover {
  color: #7f7f7f;
}
/*  Start of first section */

.Header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 200px auto;
  gap: 10px;
  padding: 10px;
  background-color: #ededed;
}

.Big {
  grid-row: 1 / span 2;
}

.Header--img {
  background-color: red;
  padding: 20px;
}

.Newscards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  gap: 10px;
}

.Newscards--img figcaption h2 {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.Newscards--img figcaption h2:hover {
  color: red;
  text-decoration: underline;
  text-decoration-color: #ffd0c8;
}

.Newscards--img figcaption h3 {
  margin: 10px 0;
  font-size: 12px;
  color: #aaaaaa;
}

.Newscards--img figcaption h3 a {
  color: #aaaaaa;
  text-decoration: none;
}

.Newscards--img figcaption h3 a:hover {
  color: rgb(61, 61, 61);
}

.Stockmarket {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: auto auto;
  gap: 10px;
}

.Articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 10px;
}

.Lnews {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  gap: 10px;
}

/* Start on the first box */

/* Big modifier */
.Big {
  background: linear-gradient(
      185deg,
      rgba(241, 6, 30, 0.7371323529411764) 0%,
      rgba(17, 16, 16, 1) 82%
    ),
    url("../images/cover-gradient.png") center no-repeat,
    url("../images/header-img-big-2.png") center;
  opacity: 0.75;
  background-size: cover;
  background-repeat: no-repeat;
}

.Big h1 {
  font-size: 150px;
  color: white;
}

.Big span {
  font-size: 15px;
  float: right;
  color: white;
}

.Big h2 {
  font-size: 20px;
  color: white;
  margin-top: 50px;
}

.Big p:first-of-type {
  font-size: 50px;
  color: white;
  font-weight: bold;
}

.Big p {
  color: #ffffff99;
  font-size: 13px;
}

.Big p a {
  color: #ffffff99;
  text-decoration: none;
}

.Big p i {
  margin: 10px 5px;
  font-size: 15px;
}

.Big p a:hover {
  color: white;
}

/* Small modifier */

.title1,
.title2 {
  font-size: 28px;
  color: #ff4422;
  font-weight: bold;
  margin: 50px 0 20px 0;
}

.title1 h2 {
  display: inline-block;
}

.title1:hover,
.title2 h2:hover,
.title2 ul li:hover {
  color: black;
  cursor: pointer;
}
.title2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title2 ul li {
  display: inline-block;
  font-size: 20px;
}
.title2 ul li:nth-of-type(-n + 2) {
  border-right: 1px solid red;
  padding-right: 10px;
}

.Small {
  position: relative;
}

.--first-img h1 {
  font-size: 30px;
  color: white;
  font-weight: bold;
  position: absolute;
  bottom: 5px;
}

.Small article {
  position: absolute;
  bottom: 5px;
}

.Small article h1 {
  font-size: 15px;
  color: white;
  font-weight: bold;
}

.Small article h2 {
  font-size: 25px;
  color: white;
  font-weight: bold;
}

.Small article p {
  font-size: 13px;
  margin-top: 5px;
  color: gray;
}

.Small article a {
  text-decoration: none;
  color: gray;
}

.Small article a:hover {
  color: white;
}

.Small article i {
  margin: 10px 5px 5px;
}

.--first-img {
  background: url("../images/small-first-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: start;
}

.--second-img {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(17, 16, 16, 1) 100%
    ),
    url("../images/image-small-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Start on latest News section */

.Newscards--img img {
  object-fit: contain;
}

.title2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title2 ul li {
  display: inline-block;
  font-size: 20px;
}
.title2 ul li:nth-of-type(-n + 2) {
  border-right: 1px solid red;
  padding-right: 10px;
}

.Stockmarket--info img {
  width: 60px;
  height: 60px;
  float: left;
  margin: 10px 10px 30px 10px;
}

.Stockmarket--info h2 {
  background-color: #ff4422;
  color: white;
  font-weight: bold;
  padding: 15px 0;
}

.Stockmarket__details {
  background-color: #ffebe8;
  padding: 10px 0;
}

.Stockmarket__details h3 {
  font-weight: bold;
}

.Stockmarket__details h4 {
  color: #807674;
  font-size: 12px;
}

.Stockmarket--info {
  box-shadow: 0px 0px 2px 0px rgba(224, 224, 224, 1);
}

.Stockmarket--info i,
.Stockmarket--info h4 {
  display: inline-block;
}

.Stockmarket--info h4 {
  color: #555;
  cursor: pointer;
  font-size: 14px;
  margin-left: 5px;
}

.Stockmarket--info h4:hover {
  color: black;
}

.Stockmarket__detailsBot {
  padding: 25px;
  border-bottom: 1px solid #ffd0c8;
}

.Stockmarket--info h5,
.Stockmarket__detailsBot {
  background-color: #fffaf8;
}

.Stockmarket--info h5 {
  padding: 25px;
  color: #555;
  font-size: 13px;
  word-spacing: 5px;
  line-height: 20px;
}
/* Start on Articles section */

.Articles--info {
  display: flex;
  flex-direction: column;
  padding: 10px;
  /* justify-content: space-between; */
}

.Articles--cards__img h1 {
  margin: 15px 0;
  font-size: 28px;
  color: #ff4422;
  font-weight: bold;
}

.Articles--cards__img h1:hover {
  color: black;
  cursor: pointer;
}

.Articles--cards__img article {
  padding: 15px;
}

.Articles--cards__img article {
  height: 100%;
  background-image: url("https://img-cdn.tnwcdn.com/image?fit=1280%2C720&url=https%3A%2F%2Fcdn0.tnwcdn.com%2Fwp-content%2Fblogs.dir%2F1%2Ffiles%2F2020%2F06%2Felonstonks.jpg&signature=0c58a6b9e1fc0f1ae43f4735b89017fc");
  background-size: cover;
  /* background-repeat: no-repeat; */
}

.Articles--cards__img article h2 {
  font-size: 13px;
  color: #e9e9e9;
  margin-top: 80px;
}

.Articles--cards__img article p:first-of-type {
  font-size: 20px;
  font-weight: bold;
}

.Articles--cards__img article p:first-of-type:hover {
  text-decoration: underline;
  text-decoration-color: #aaaaaa;
  cursor: pointer;
}

.Articles--cards__img article p {
  color: white;
}

.Articles--cards__img article p a {
  color: #aaaaaa;
  text-decoration: none;
  font-size: 11px;
}

.Articles--cards__img article p span {
  color: #aaaaaa;
  font-size: 11px;
}

.Articles--cards__img article p a:hover {
  color: white;
}

.Articles--cards__latest {
  display: flex;
  align-items: center;
  background-color: #fff4f1;
  color: #ff4422;
  padding-left: 15px;
}

.Articles--cards__latest figcaption h1 {
  font-size: 12px;
}
.Articles--cards__latest figcaption p {
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.Articles--cards__latest figcaption p:hover {
  text-decoration-line: underline;
  text-decoration-color: #ffd1c9;
}

.Articles--cards__latest img {
  width: 100px;
  height: 100px;
}
.Articles--cards__list ul li {
  display: flex;
}

.Articles--cards__list ul li {
  border-bottom: 1px solid #eee;
  font-size: 13px;
  padding: 10px 0;
  color: #555;
}

.Articles--cards__list ul li div {
  margin-left: 5px;
}

.Articles--cards__list ul li:hover {
  color: black;
  cursor: pointer;
}

.Articles--cards__list ul li::before {
  list-style: outside;
  content: "\2022";
  color: red;
  display: inline;
  font-weight: bold;
  /* margin: 50px; */
}

/* Start of latest deals section */

.last-deals-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.last-deals-header a {
  color: #f42;
  text-decoration: none;
}

.last-deals-header a:hover {
  color: black;
}

.last-deals-header a:first-of-type {
  font-size: 25px;
  font-weight: bold;
}

.Lnews--info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px;
}

.Lnews--info img {
  height: 270px;
}

.Lnews--info a {
  font-size: 16px;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.Lnews--info a:hover {
  text-decoration: underline;
  color: #f42;
}

.Lnews--info p {
  color: gray;
}

.Lnews--info p small {
  text-decoration: line-through;
}

/* Footer */

footer {
  margin-top: 10px;
  background-color: yellow;
  height: 200px;
}

/* First div - footer */
.social-icons-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #131313;
  height: 80%;
}

.social-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.social-icons ul li {
  display: inline-block;
  background-color: #333333;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 5px;
}

.social-icons ul li a i {
  color: white;
  font-size: 20px;
  position: relative;
  top: 10px;
  left: 10px;
}

.social-icons ul li:hover {
  cursor: pointer;
  border: 2px #333333 solid;
  background-color: #000000;
}

.footer-links {
  margin: 15px 5px;
}

.footer-links ul li {
  display: inline-block;
  margin: 5px;
}

.footer-links ul li a {
  color: #333333;
  text-decoration: none;
  font-size: 12px;
}

.footer-links ul li a:hover {
  color: white;
}

.last-footer {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
  padding: 10px;
}

.last-footer p {
  color: gray;
  font-size: 13px;
}

.last-footer p a {
  text-decoration: none;
  color: white;
}
