/* navbar */

.top-bar div .first-link {
  margin-left: 110px;
  color: white;
}

.main-navbar {
  display: flex;
  align-items: center;
}

.main-navbar .main-logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: 100px;
  visibility: visible;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-navbar a:first-of-type {
  margin-left: 110px;
}

.main-navbar .main-logo:hover {
  cursor: pointer;
  background-image: url("../images/bg-logo-mobile.jpg");
}

.Newscards {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
}

.title2 {
  display: flex;
  flex-direction: column;
}

.Stockmarket {
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto auto;
}

.Stockmarket--info:last-child {
  display: none;
}

.Articles {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
}

.Lnews {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
}
